<%= include ../template/index-header.ejs %>

<div>
	<h1>welcome to coative.</h1>
	<p>
		Coactive.co is a collborative document editing program.
		Users can share their document with friends, family, or colleagues, and collectively edit a document remotely in real time.
		Users can also create versions of their document and export them for quick and simple version control.
	</p>
</div>

<div>
	<span>Let's get started!</span>
	<label>1. Enter your email address</label>
	<input type="text" id="landing-create-email" placeholder="ex: johndoe@domain.com" />
	<label>2. Give your document a title</label>
	<input type="text" id="landing-create-title" placeholder="ex: My Super Cool Document!" />
	<label>3. Start collaborating!</label>
	<button>
		Create My Document
	</button>
</div>

<%= include ../template/footer.ejs %>
