<%= include ../template/version-header.ejs %>

<div id="version-list">
	<span class="version"></span>
</div>

<div id="version-details">
	<span>Title Here</span>
	<div>
		<p></p>
	</div>
</div>

<%= include ../template/footer.ejs %>