<html>
	<head>
		<title>coactive</title>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, width=device-width" />
		<link rel="stylesheet" href="/css/main.css" />
		
		
		
		<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.9.0/build/assets/skins/sam/skin.css">
		<!-- Utility Dependencies -->
		<script src="http://yui.yahooapis.com/2.9.0/build/yahoo-dom-event/yahoo-dom-event.js"></script>
		<script src="http://yui.yahooapis.com/2.9.0/build/element/element-min.js"></script>
		<!-- Needed for Menus, Buttons and Overlays used in the Toolbar -->
		<script src="http://yui.yahooapis.com/2.9.0/build/container/container_core-min.js"></script>
		<!-- Source file for Rich Text Editor-->
		<script src="http://yui.yahooapis.com/2.9.0/build/editor/simpleeditor-min.js"></script>
		
		
		
		
		<script src="/js/jquery-1.10.2.min.js"></script>
	</head>
	<body>

		<div id="document_header_placeholder"></div>

		<header>
			<a id="logo" href="/">coactive</a>
			<div class="document-header-controls">
				<a class="header-document" href="#">Document</a>
				<a class="header-versions" href="#">Versions</a>
				<a class="header-toolbar" href="#">Toolbar</a>
			</div>
			<div class="document-header-toolbar">
				<div class="document-header-toolbar-controls">
					<a class="header-create-version" href="#">New Version</a>
					<a class="header-download-live" href="#">Download Current</a>
					<a class="header-share" href="#">Invite</a>
				</div>
			</div>
		</header>

		<div class="container">
