<html>
	<head>
		<title>coactive</title>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, width=device-width" />
		<link rel="stylesheet" href="/css/main.css" />
		<!-- <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'> -->
	</head>
	<body>

		<div id="header_placeholder"></div>

		<header>
			<a id="logo" href="/">coactive</a>
			<div class="header-controls">
				<a class="header-create-version" href="#"><img src="/assets/img/cart-icon.png">New Version</a>
				<a class="header-download-live" href="#"><img src="/assets/img/fave-icon.png">Download</a>
				<a class="header-versions" href="#"><img src="/assets/img/fave-icon.png">Versions</a>
			</div>
		</header>
		
		<div class="container">
