<html>
	<head>
		<title>coactive</title>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, width=device-width" />
		<link rel="stylesheet" href="/css/main.css" />
		<script src="/js/jquery-1.10.2.min.js"></script>
	</head>
	<body>

		<div id="landing_header_placeholder"></div>

		<header>
			<a id="logo" href="/">coactive</a>
		</header>
		
		<div class="container">
