<html>
	<head>
		<title>coactive</title>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, width=device-width" />
		<link rel="stylesheet" href="/css/main.css" />
		<!-- <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'> -->
	</head>
	<body>

		<div id="header_placeholder"></div>

		<header>
			<a id="logo" href="/">coactive</a>
			<div class="version-header-controls">
				<a class="header-create-version" href="#">Document</a>
				<a class="header-versions" href="#">Versions</a>
			</div>
			<div id="document-header-toolbar">
				<a class="header-create-version" href="#">New Version</a>
				<a class="header-download-current" href="#">Download Current</a>
				<a class="header-share" href="#">Share This Version</a>
			</div>
		</header>
		
		<div class="container">
