<%= include ../template/document-header.ejs %>

<div id="document">
	<input class="document-title" type="text" value="Title"/>
	<div>
		<textarea class="document-body">Document Body Here</textarea>
	</div>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>


<script src="http://localhost:3000/socket.io/socket.io.js"></script>
<script>var _socketConnection = io.connect('http://localhost:3000');</script>
<!-- <script src="http://162.243.36.55/socket.io/socket.io.js"></script> -->
<!-- <script>var _socketConnection = io.connect('http://162.243.36.55');</script> -->


<!-- This is all front end js -->
<script>
	$('.document-body').keyup(function() {

		var body = $('.document-body').val();

		_socketConnection.emit('body_event_from_client', {
			'body' : body
		});

	});

	_socketConnection.on('body_event_from_server', function(data) {
		console.log(data);
		$('.document-body').html(data.body);
	});



	$('.document-title').keyup(function() {

		var title = $('.document-title').val();

		_socketConnection.emit('title_event_from_client', {
			'title' : title
		});

	});

	_socketConnection.on('title_event_from_server', function(data) {
		console.log(data);
		$('.document-title').val(data.title);
	});

</script>

<%= include ../template/footer.ejs %>