<%= include ../template/document-header.ejs %>

<div id="document">
	<span>Title Here</span>
	<div>
		<textarea class="document">Document Body Here</textarea>
	</div>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<script src="http://localhost:3000/socket.io/socket.io.js"></script>
<script>var _socketConnection = io.connect('http://localhost:3000');</script>

<script>
	$('.document').keyup(function() {

		var body = $('.document').val();

		_socketConnection.emit('event_from_client', {
			'body' : body
		});

	});

	_socketConnection.on('event_from_server', function(data) {
		console.log(data);
		$('.document').html(data.body);
	});

</script>

<%= include ../template/footer.ejs %>